<!DOCTYPE html>
<html lang="ja">
<head>
<title>アカウント新規作成ページ</title>
</head>
<body>
<h1>アカウント新規作成ページ</h1>

<form method="post" action="">
    <label for="">名前</label>
    <p><input type="text" placeholder="大中倫太郎"></p>
    <label for="">メールアドレス</label>
    <p><input type="text" placeholder="exsample@mail.com"></p>
    <label for="">パスワード</label>
    <p><input type="text" placeholder="最低6文字必要です"></p>

    <p><button type="submit">アカウントを作成</button></p>

    <p>すでにアカウントをお持ちですか？<a href="">ログイン</a></p>
</form>
</body>
</html>