<!DOCTYPE html>
<html lang="ja">
<head>
<title>ユーザー管理ページ</title>
</head>
<body>
<h1>ユーザー管理ページ</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
{% endwith %}

{% if login_user %}
    {% for profile in login_user %}
        <p>アカウント名：{{ profile.user_name }}</p>
        <p>パスワード：{{ profile.password }}</p>
    {% endfor %}
{% endif %}

<form action="/show_login_page">
    <button type="submit">ログインページに戻る</button>
</form>
</body>
</html>